/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

a:hover {
    text-decoration: none;
}

ol.apps, ul.apps {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section, header, footer, nav, article, aside, figure {
  display: block;
  width: 100%; }

mark, time, meter, progress {
  display: inline; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  color: #222;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 1.5em;
  padding: 0 10px; }
  @media all and (max-width: 660px) {
    body {
      font-size: 18px;
      line-height: 1.6em; } }

input {
  line-height: 1em; }

a {
  color: #0881b3;
  border-bottom: 1px solid transparent; }
  a:hover {
    -webkit-transition-property: border;
    -moz-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-bottom: 1px solid; }

strong {
  font-weight: 600;
  font-style: normal; }

mark {
  background-color: #fffeca;
  padding: 0 0.1em; }

i {
  font-style: italic; }

abbr {
  border-bottom: 1px dashed;
  cursor: help; }

p {
  margin: 0 0 1.5em; }

hr {
  margin: 0 auto 2em;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 60%; }

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em; }
  blockquote a {
    color: #444; }
    blockquote a:hover {
      color: #0881b3; }

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em; }
  small a {
    color: #444; }
    small a:hover {
      color: #2e80d3; }

h1 {
  color: #000;
  font-size: 3em;
  margin-bottom: 0.5em;
  font-weight: 400; }

body > header h1 a, body > header h1 a:hover {
  color: #52657a;
  border: 0; }

h2 {
  font-size: 1.3em;
  font-weight: 600; }
  h2 a {
    color: #222;
    border: 0; }

h3 {
  font-weight: 600;
  color: #999; }
  h3 a {
    color: #999;
    border: 0; }

h4 {
  color: #999;
  font-weight: 600;
  margin-bottom: 0.2em; }

h5 {
  color: #999;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.2em; }

body > header, body > section, body > footer {
  max-width: 640px;
  margin: 0 auto; }

body > section.resume {
  max-width: 1024px; }

body > header {
  color: #949494;
  margin: 4em auto; }
  body > header p {
    margin: 0; }
  @media all and (max-width: 660px) {
    body > header {
      margin: 2em auto 3em; }
      body > header p:nth-child(2) {
        margin-bottom: 1em; } }

a.hire, a.hire:hover {
  color: #f6291d; }

body > footer {
  color: #aaa;
  text-shadow: #fff 0 1px 0;
  font-size: 0.8em;
  text-align: center;
  margin: 2em auto; }
  body > footer a {
    color: #aaa; }
    body > footer a:hover {
      color: #0881b3; }
  body > footer li {
    margin-right: 1em;
    display: inline-block; }
    body > footer li:last-child {
      margin-right: 0; }

section.about a.portrait {
  float: left;
  width: 300px;
  height: 300px;
  margin: 0.5em 1em 0.5em 0; }
  section.about a.portrait img {
    width: 300px;
    height: 300px; }
  @media all and (max-width: 660px) {
    section.about a.portrait {
      border-width: 0; } }

body.error {
  background: #f6291d;
  color: #fff; }
  body.error div#error {
    max-width: 640px;
    margin: 2em auto; }
  body.error h1, body.error a {
    color: #fff; }
  body.error a {
    border-bottom: 1px solid; }

.ig-b- {
  display: inline-block; }
  .ig-b- img {
    visibility: hidden; }
  .ig-b-:hover {
    background-position: 0 -60px;
    border: 0; }
  .ig-b-:active {
    background-position: 0 -120px; }

.ig-b-16 {
  width: 16px;
  height: 16px;
  background: url(https://badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-16 {
      background-image: url(https://badges.instagram.com/static/images/ig-badge-sprite-16@2x.png);
      background-size: 60px 178px; } }

ul.apps {
  margin: 2em auto;
  width: 100%;
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
  font-size: 14px; }
  ul.apps::after {
    clear: both;
    content: "";
    display: table; }
  @media all and (max-width: 660px) {
    ul.apps {
      width: 280px; } }
  ul.apps li {
    border-radius: 20px;
    float: left;
    display: block;
    width: 25%;
    height: 120px;
    margin-bottom: 2em; }
    @media all and (max-width: 660px) {
      ul.apps li {
        width: 50%; } }
  ul.apps a {
    display: block;
    width: 100px;
    height: 120px;
    line-height: 0;
    margin: 0 auto; }
    ul.apps a span {
      display: block;
      width: 100px;
      height: 10px;
      font-weight: 800;
      text-align: center;
      line-height: 1em;
      padding: 8px 0 0;
      color: #888; }
    ul.apps a:hover {
      border: 0; }
  ul.apps img {
    box-sizing: border-box;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -2;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.25); }

article {
  margin-bottom: 2em; }
  article p, article blockquote {
    display: inline;
    margin-right: 0.25em; }
  article blockquote {
    color: #222;
    padding: 0;
    border: 0; }
  article img, article object {
    display: none; }

div.four-up {
  margin-bottom: 2em; }
  @media all and (max-width: 660px) {
    div.four-up {
      width: 300px;
      height: 300px;
      margin: 0 auto 3em; } }
  div.four-up ul {
    width: 100%;
    height: 150px;
    text-align: justify;
    margin-bottom: 8px;
    font-size: 0.1px;
    line-height: 0; }
    div.four-up ul:after {
      content: '';
      width: 100%;
      display: inline-block; }
    @media all and (max-width: 660px) {
      div.four-up ul {
        height: 300px; } }
    div.four-up ul li {
      height: 150px;
      display: inline-block; }
    div.four-up ul a:hover {
      border: 0; }
    div.four-up ul img {
      width: 150px;
      height: 150px; }
  div.four-up p {
    font-size: 16px;
    line-height: 16px; }
    div.four-up p a:first-child {
      position: relative;
      top: 2px;
      margin-right: 2px; }
      div.four-up p a:first-child:hover {
        border-bottom: 1px solid transparent; }

section.music {
  margin-bottom: 1em; }
  section.music ul.tracks {
    margin-bottom: 1em; }
    section.music ul.tracks li {
      margin-left: 1em;
      list-style: disc; }
      section.music ul.tracks li a {
        font-size: 0.8em;
        margin-left: 6px; }

div.soundcloud-player {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  width: 235px;
  height: 91px;
  margin: 0.1em 0 0.5em; }
  div.soundcloud-player > div:first-child {
    padding: 5px; }
  div.soundcloud-player div.waveform {
    display: none; }

div.soundcloud-player div.playing div.waveform {
  display: block;
  background: #e5e5e5;
  width: 225px;
  height: 81px;
  border: 1px solid #ddd;
  position: relative; }
  div.soundcloud-player div.playing div.waveform img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; }
  div.soundcloud-player div.playing div.waveform div.position, div.soundcloud-player div.playing div.waveform div.loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 81px;
    background: #999; }
  div.soundcloud-player div.playing div.waveform div.position {
    background: #000; }

a.twitter-username:before {
  content: "@"; }

section.server-error {
  margin-bottom: 3em; }

span.gray {
  color: #777; }

ul.list, ol.list {
  margin: 0 0 2em 0.5em; }
  ul.list li, ol.list li {
    margin-left: 1em; }

ul.list li {
  list-style: disc; }

ol.list li {
  list-style: decimal; }

ol.list li ol li {
  list-style: lower-alpha; }

div.video {
  position: relative; }
  div.video img {
    display: block;
    width: 100%;
    height: auto;
    visibility: hidden; }
  div.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

p.twitter-button {
  text-align: center;
  margin-bottom: 0; }

.avatar img {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  padding: 2px;
  background-color: #fff;
}

.home p {
    text-align: justify;
}

.resume h1 {
    font-size: 30px;
    text-align: center;
}

.resume p {
    font-size: 14px;
    margin-bottom: 0px;
}

.resume ul {
    font-size: 14px;
    padding-left: 60px;
}

.resume a {
    font-weight: 600;
}
