<!DOCTYPE html>
<html>
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile#">
    <meta charset="utf-8">
    <title>Remy Jourde</title>
    <link type="text/css" rel="stylesheet" href="/static/application.css" />
    <link rel="author" type="text/plain" href="/humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="fb:admins" content="522104258">
    <meta property="og:site_name" content="Remy Jourde">
    <meta property="og:title" content="Remy Jourde">
    <meta property="og:type" content="profile">
    <meta property="og:locale" content="fr_FR">
    <link rel="canonical" href="https://rjour.de">
    <meta property="og:url" content="https://rjour.de">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta property="og:image:type" content="image/png">
    <meta property="profile:first_name" content="Remy">
    <meta property="profile:last_name" content="Jourde">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="rjourde">
</head>
<body>
    <header>
      <h1><a href="/" rel="home">Rémy Jourde</a></h1>
    </header>
    <section class="home">
        <p>Développeur iOS vivant à Verrières-le-Buisson (91) et travaillant actuellement à <a href="http://www.wannapix.com" rel="external nofollow">Wannapix</a>.</p>

        <h2>Apps</h2>
        <p>J'ai débuté le développement d'applications iOS dès le 1er jour de disponibilité du SDK en 2008.</p>
        <p>Voici les applications que j'ai développées ainsi que celles où j'ai participé au développement mais également celles en cours de développement.</p>

        <ul class="apps">
          <li>
            <a href="https://itunes.apple.com/fr/app/wannapix/id1073605257?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="Wannapix">
              <img src="/static/img/wannapix.png" alt="Wannapix">
              <span>Wannapix</span>
            </a>
          </li>
          <li>
            <a href="javascript:alert('Cette application n\'est pas encore disponible.')" rel="external nofollow" title="Gonawin">
              <img src="/static/img/gonawin.png" alt="Gonawin">
              <span>Gonawin</span>
            </a>
          </li>
          <li>
            <a href="javascript:alert('Cette application n\'est pas encore disponible.')" rel="external nofollow" title="Golden Hour">
              <img src="/static/img/goldenhour.png" alt="Golden Hour">
              <span>Golden Hour</span>
            </a>
          </li>
          <li>
            <a href="javascript:alert('Cette application n\'est plus disponible. On en a parlé ici')" rel="external nofollow" title="Opticus">
              <img src="/static/img/opticus.png" alt="Opticus">
              <span>Opticus</span>
            </a>
          </li>
          <li>
            <a href="javascript:alert('Cette application n\'est plus disponible.')" rel="external nofollow" title="CRC Generator">
              <img src="/static/img/crcgenerator.png" alt="CRC Generator">
              <span>CRC Generator</span>
            </a>
          </li>
        </ul>
        <p class="twitter-button"><a href="https://twitter.com/rjourde" rel="external nofollow" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @rjourde</a></p>
    </section>

    <footer>
        <p>© 2016 <a href="/" rel="home">Rémy Jourde</a></p>
    </footer>
    <script src="/assets/application.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
