<!DOCTYPE html>
<html>
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile#">
    <meta charset="utf-8">
    <title>Rémy Jourde - Developpeur iOS Freelance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/application.css" />
    <link rel="author" content="text/plain" href="/humans.txt">
    <meta name="description" content="Développement d'applications iOS. Disponible pour des contrats freelance.">
    <meta name="keywords" content="ios, developer, freelance, iphone, ipad, watchos, swift, app, mobile, appplication, remy, jourde">
    <meta name="author" content="Remy Jourde">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="fb:admins" content="522104258">
    <meta property="og:site_name" content="Rémy Jourde">
    <meta property="og:title" content="Rémy Jourde">
    <meta property="og:type" content="profile">
    <meta property="og:locale" content="fr_FR">
    <link rel="canonical" href="https://rjour.de">
    <meta property="og:title" content="Rémy Jourde - Developpeur iOS Freelance">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rjour.de">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta property="og:image:type" content="image/png">
    <meta property="profile:first_name" content="Rémy">
    <meta property="profile:last_name" content="Jourde">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="rjourde">
</head>
<body>
    <header>
        <div class="row">
          <div class="col-md-8">
              <h1><strong><a href="/" rel="home"><span class="text">Rémy<br/><br/>Jourde</span></a></strong></h1>
          </div>
          <div class="col-md-4 text-center">
              <div class="avatar">
                  <img src="/static/img/remy.jpg" alt="Rémy Jourde">
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Développeur iOS freelance vivant à Vouvray (37).</p>
            </div>
            <div class="col-md-1"><a href="/resume"><i class="fa fa-file-text-o fa-2x"></i></a></div>
            <div class="col-md-1"><a href="https://github.com/rjourde" rel="external nofollow"><i class="fa fa-github fa-2x"></i></a></div>
            <div class="col-md-1"><a href="https://www.linkedin.com/in/rjourde" rel="external nofollow"><i class="fa fa-linkedin fa-2x"></i></a></div>
            <div class="col-md-1"><a href="https://twitter.com/rjourde" rel="external nofollow"><i class="fa fa-twitter fa-2x"></i></a></div>
        </div>
    </header>
    <section class="home">
        <p>Ingénieur en développement logiciel avec 7 ans d'expérience, ayant notamment travaillé dans le groupe <a href="https://www.thalesgroup.com/fr" rel="external nofollow">Thales</a> et pour <a href="http://www.intergraph.com" rel="external nofollow">Intergraph</a>, j'ai débuté le développement d'applications iOS dès le 1er jour de disponibilité du SDK en 2008.</p>
        <p>Je vous propose mes services pour la conception et la réalisation de votre application iOS (iPhone, iPad ou Watch). N'hésitez pas à me <a data-scroll href="#contact">contacter</a> pour discuter de votre projet.</p>

        <h2>Prestations</h2>

        <p>
            <ul>
                <li>Prototypage d'interfaces utilisateurs : maquettage et élaboration de prototypes intéractifs</li>
                <li>Réalisation complète d'une application</li>
                <li>Migration d'une application codée en Objective-C vers Swift</li>
                <li>Portage d'applications Android vers iOS</li>
                <li>Mise en place d'un backend mobile (CloudKit ou Firebase)</li>
                <li>Publication sur l'App Store</li>
            </ul>
        </p>

        <h2>Apps</h2>
        <p>Voici les applications que j'ai développées, celles où j'ai participé au développement et celles en cours de développement.</p>

        <ul class="apps">
          <li>
            <a href="#" data-toggle="modal" data-target="#eagolfAcademyModal" title="Eagolf Academy">
              <img src="/static/img/eagolfacademy.png" alt="Eagolf Academy">
              <span>Eagolf Academy</span>
            </a>
          </li>
          <li>
            <a href="https://itunes.apple.com/fr/app/eagolf/id923337314" rel="external nofollow" title="Eagolf">
              <img src="/static/img/eagolf.png" alt="Eagolf">
              <span>Eagolf</span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#unavailableModal" title="Wannapix">
              <img src="/static/img/wannapix.png" alt="Wannapix">
              <span>Wannapix</span>
            </a>
          </li>
          <li>
            <a href="https://itunes.apple.com/fr/app/golden-hour/id1148036991" rel="external nofollow" title="Golden Hour">
              <img src="/static/img/goldenhour.png" alt="Golden Hour">
              <span>Golden Hour</span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#soonModal" title="Gonawin">
              <img src="/static/img/gonawin.png" alt="Gonawin">
              <span>Gonawin</span>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#opticusModal" title="Opticus">
              <img src="/static/img/opticus.png" alt="Opticus">
              <span>Opticus</span>
            </a>
          </li>
        </ul>

        <!-- Soon Modal -->
        <div class="modal fade" id="soonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Cette application n'est pas encore disponible.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Unavailable Modal -->
        <div class="modal fade" id="unavailableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Cette application n'est plus disponible.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Opticus Modal -->
        <div class="modal fade" id="opticusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Cette application n'est plus disponible. On en a parlé <a href="http://www.mac4ever.com/actu/50971_opticus-nouveau-client-flickr-pour-iphone" rel="external nofollow">ici</a></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Eagolf Academy Modal -->
        <div class="modal fade" id="eagolfAcademyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Eagolf Academy est une application B2B personnalisée non disponible sur l'App Store</a></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <h2 id="contact">Contact</h2>

        <p>Pour une demande de devis ou pour plus d'informations, vous pouvez me contacter par <a href="mailto:remy.jourde@gmail.com?subject=Demande de devis ou plus d'informations">email</a> et
        par message privé sur <a href="https://twitter.com/rjourde" rel="external nofollow">Twitter</a> ou <a href="https://www.linkedin.com/in/rjourde" rel="external nofollow">LinkedIn</a></p>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <p class="twitter-button"><a href="https://twitter.com/rjourde" rel="external nofollow" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="fr">Follow @rjourde</a></p>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2017 <a href="/" rel="home">Rémy Jourde</a>
            <br>37210 Vouvray
            <br>SIRET : 822 050 639 00027
            <br><a href="/">fr</a> / <a href="/en">en</a>
        </p>
    </footer>
    <script src="/static/application.js"></script>
    <script src="/static/smooth-scroll.js"></script>
    <script>smoothScroll.init();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83188913-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
