<!DOCTYPE html>
<html>
  <head>
    <title>Remy Jourde</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<head>
	<body class="gradient">
    <div id="main" class="container">
      <div class="avatar">
        <img alt="remy" src="/static/img/remy.jpg">
      </div>
      <h1>Remy Jourde</h1>
      <p>Software Engineer</p>
      </br>
      <div class="row social">
        <div class="col-md-3"><a href="https://github.com/rjourde"><i class="fa fa-github fa-2x"></i></a></div>
        <div class="col-md-3"><a href="https://www.linkedin.com/in/rjourde"><i class="fa fa-linkedin fa-2x"></i></a></div>
        <div class="col-md-3"><a href="https://twitter.com/rjourde"><i class="fa fa-twitter fa-2x"></i></a></div>
        <div class="col-md-3"><a href="https://plus.google.com/+RemyJourde_rj"><i class="fa fa-google-plus fa-2x"></i></a></div>
      </div>
      <hr>
    </div>
    <div id="footer" class="container">
      <p>Copyright &copy; 2015 Remy Jourde</p>
    </div>
	</body>
<html>
