<!DOCTYPE html>
<html>
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile#">
    <meta charset="utf-8">
    <title>Rémy Jourde - CV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/application.css" />
    <link rel="author" type="text/plain" href="/humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="fb:admins" content="522104258">
    <meta property="og:site_name" content="Rémy Jourde">
    <meta property="og:title" content="Rémy Jourde">
    <meta property="og:type" content="profile">
    <meta property="og:locale" content="fr_FR">
    <link rel="canonical" href="https://rjour.de">
    <meta property="og:url" content="https://rjour.de">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta property="og:image:type" content="image/png">
    <meta property="profile:first_name" content="Rémy">
    <meta property="profile:last_name" content="Jourde">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="rjourde">
</head>
<body >
    <header>
        <div class="row">
          <div class="col-md-8">
              <h1><strong><a href="/" rel="home"><span class="text">Rémy<br/><br/>Jourde</span></a></strong></h1>
          </div>
          <div class="col-md-4">
              <div class="avatar">
                  <img src="/static/img/remy.jpg" alt="Rémy Jourde">
              </div>
          </div>
        </div>

    </header>
    <section class="resume">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Ingénieur en développement mobile iOS</strong></h1>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Expériences</h5></div>
            <div class="col-md-9"><h5>Développeur iOS et référent technique, Wannapix ; Paris - Mai 2016-Présent</h5></div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <p>Conception et réalisation d’une application ludique et sociale de concours photo en partenariat avec des marques :</p>
                <ul>
                    <li>Analyse et audit du code existant des applications iOS, Android ainsi que backend Symfony développés par une agence digitale,</li>
                    <li>mise en place et suivi des outils d’analyses (Facebook Analytics, Google Analytics),</li>
                    <li>gestion de l’environnement cloud d’Amazon,</li>
                    <li>conception, développement et intégration de nouvelles fonctionnalités,</li>
                    <li>mise à disposition des versions beta sur Test Flight,</li>
                    <li>soumission des nouvelles versions sur l’App Store et le Play Store,</li>
                    <li>migration du code de l’application iOS d’Objective-C vers Swift.</li>
               </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-9 col-md-offset-3"><h5>Ingénieur développement logiciel, Intergraph France ; Rungis – Octobre 2011-Mai 2016</h5></div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <p>Conception et développement de la partie Structures 3D/2D d’un logiciel de CAO à destination des usines, de la construction navale et des industries offshores : Smart 3D. Logiciel basé sur une architecture 3 tiers :</p>
                <ul>
                    <li>Couche applicative codée en C++ comprenant entre autres des constructions géométriques associatives et des graphes d’opérations.</li>
                    <li>Base de données : Microsoft SQL Server, Oracle</li>
                    <li>Utilisation du C# pour la couche client et l’écriture de tests automatisés.</li>
               </ul>
               <p>Sa compilation est incluse dans un processus d’intégration continue et son développement se fait par cycles itératifs suivant la méthodologie agile Scrum au sein d’une équipe internationale (Europe, Etats-Unis, Inde).</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-9 col-md-offset-3"><h5>Ingénieur Développement logiciel, Thales Services ; Vélizy  – Octobre 2010-Octobre 2011</h5></div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <p>En mission pour Thales Rail Signaling Solutions.</p>
                <p>Développement d’un analyseur de données ferroviaires. Codage du backend en C++ ainsi que de l’interfaçage avec un frontend Java via la Java Native Interface.</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">
                <h5>Projets</h5>
            </div>
            <div class="col-md-9">
                <h5>Gonawin</h5>
                <p>Développement d’une application web de prédictions sur des évènements sportifs (<a>www.gonawin.com</a>). Le backend est codé en Go et le frontend en javascript (AngularJS). L’application est déployée sur Google App Engine. Code source disponible à l’adresse suivante : <a>https://github.com/taironas/gonawin</a>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h5>Gonawin iOS</h5>
                <p>Développement de l’application iOS en Swift (Communication avec le backend Gonawin via une API REST). Code source disponible à l’adresse suivante : <a>https://github.com/taironas/gonawin-ios</a> et <a>https://github.com/taironas/gonawin-engine-ios</a>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h5>Golden Hour</h5>
                <p>Développement de l’application iOS en Swift permettant de connaître les « heures dorées » du jour en fonction de la position de l’utilisateur ou bien d’un endroit recherché par l’utilisateur (Géolocalisation et consommation d’une API REST). Code source disponible à l’adresse suivante : <a>https://github.com/rjourde/GoldenHour</a>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h5>Opticus</h5>
                <p>Développement d’un client mobile iOS en Objective-C pour le site de partage de photos <a href="www.flickr.com">Flickr</a>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"><h5>Compétences</h5></div>
            <div class="col-md-9">
                <ul>
                    <li>Language : Swift, Objective-C, C++, C#, Go, Java</li>
                    <li>Développement mobile : iOS, Cocoa, Cocoapods, Test Flight, Crashlytics</li>
                    <li>Développement web : Javascript (AngularJS), PHP (Symfony), HTML, CSS, Google App Engine, Heroku, AWS</li>
                    <li>Base de données : MySQL, Microsoft SQL Server</li>
                    <li>Gestion de configuration : Git, Microsoft Team Foundation Server</li>
                    <li>Environnement de développement : Xcode, Android Studio, Microsoft Visual Studio</li>
                    <li>prototypage : Photoshop, Experience Design, Pixate
               </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Langues</h5></div>
            <div class="col-md-9">
                <p>Anglais : Capacité professionnelle complète</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Études</h5></div>
            <div class="col-md-9">
                <p>Formation d’ingénieur logiciel en apprentissage - CFA-AFTI d’Orsay (91) - 2010</p>
                <p>Licence professionnelle en apprentissage Automatisme et Informatique Industrielle, parcours Temps Réel - IUT de Cachan (94) - 2008</p>
                <p>DUT Génie Electrique et Informatique Industrielle spécialité Réseaux Locaux Industriels - IUT de Cergy Pontois (95) - 2007</p>
                <p>Baccalauréat scientifique - Lycée privé Saint Michel des Batignolles de Paris (XVIIIème)</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Loisirs</h5></div>
            <div class="col-md-9">
                <p>Photographie : <a>https://500px.com/remy_jourde</a> et <a>https://www.flickr.com/photos/remy_jourde</a></p>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2016 <a href="/" rel="home">Rémy Jourde</a>
            <br>91370 Verrières-le-Buisson
            <br>SIRET : 822 050 639 00019
        </p>
    </footer>
    <script src="/assets/application.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83188913-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
