<!DOCTYPE html>
<html>
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile#">
    <meta charset="utf-8">
    <title>Rémy Jourde - Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/application.css" />
    <link rel="author" type="text/plain" href="/humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="fb:admins" content="522104258">
    <meta property="og:site_name" content="Rémy Jourde">
    <meta property="og:title" content="Rémy Jourde">
    <meta property="og:type" content="profile">
    <meta property="og:locale" content="fr_FR">
    <link rel="canonical" href="https://rjour.de">
    <meta property="og:url" content="https://rjour.de">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta property="og:image:type" content="image/png">
    <meta property="profile:first_name" content="Rémy">
    <meta property="profile:last_name" content="Jourde">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="rjourde">
</head>
<body >
    <header>
        <div class="row">
          <div class="col-md-8">
              <h1><strong><a href="/en" rel="home"><span class="text">Rémy<br/><br/>Jourde</span></a></strong></h1>
          </div>
          <div class="col-md-4">
              <div class="avatar">
                  <img src="/static/img/remy.jpg" alt="Rémy Jourde">
              </div>
          </div>
        </div>

    </header>
    <section class="resume">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>iOS Developer</strong></h1>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Experience</h5></div>
            <div class="col-md-9"><h5>iOS Developer and CTO, Wannapix ; Paris - May 2016-Present</h5></div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <p>Design and development of a playful and social contest photo app sponsored by brands:</p>
                <ul>
                    <li>Code analysis of the iOS and Android applications as well as the Symfony backend developed by a mobile agency,</li>
                    <li>setup and tracking of analytics tools (Facebook Analytics, Google Analytics),</li>
                    <li>management of the Amazon cloud environment,</li>
                    <li>design, development and integration of new features,</li>
                    <li>management of beta versions on Test Flight,</li>
                    <li>submission of new version on the App Store or the Play Store,</li>
                    <li>Objective-C to Swift migration.</li>
               </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-9 col-md-offset-3"><h5>Software Engineer, Intergraph France ; Rungis – October 2011-May 2016</h5></div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <p>Design and development of 3D/2D Structures components of a CAD (computer-aided design) software for plant, shipyard and offshore industries: Smart3D. Software based on a 3-tier architecture:</p>
                <ul>
                    <li>Middle tier coded in C++ including associative geometric business objects and graphs of operations.</li>
                    <li>Databases: Microsoft SQL Server, Oracle</li>
                    <li>C#/.NET used for client tier and for writing of automated test procedures.</li>
               </ul>
               <p>Software compilation included into a continuous integration delivery (daily builds, automated test procedures). <br>Iterative development cycles following the Agile/Scrum method and work done with distributed teams in Europe, United-States and India.</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-9 col-md-offset-3"><h5>Software Engineer, Thales Services ; Vélizy  – October 2010-October 2011</h5></div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <p>Contractor for Thales Rail Signalling Solutions.</p>
                <p>Development of a rail data analyzer. Backend was coded in C++ and interfacing with a Java frontend via the Java Native Interface.</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">
                <h5>Projects</h5>
            </div>
            <div class="col-md-9">
                <h5>Gonawin</h5>
                <p>Development of a scalable web application to make predictions on sport events (<a href="http://www.gonawin.com" rel="external nofollow">gonawin.com</a>). Backend coded in Go and frontend in Javascript (AngularJS). The application is deployed on Google App Engine. Source code is available on Github: <a href="https://github.com/taironas/gonawin" rel="external nofollow">https://github.com/taironas/gonawin</a>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h5>Gonawin iOS</h5>
                <p>Development of the iOS application in Swift (Communication with Gonawin backend via a REST API). Source code is available on Github: <a href="https://github.com/taironas/gonawin-ios" rel="external nofollow">https://github.com/taironas/gonawin-ios</a> and <a href="https://github.com/taironas/gonawin-engine-ios" rel="external nofollow">https://github.com/taironas/gonawin-engine-ios</a>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h5>Golden Hour</h5>
                <p>iOS application letting you discover when the Golden Hour is at your current location (Geolocation and REST API consumption). Source code is available on Github: <a href="https://github.com/rjourde/GoldenHour" rel="external nofollow">https://github.com/rjourde/GoldenHour</a>.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h5>Opticus</h5>
                <p>Development of a <a href="https://www.flickr.com">Flickr</a> iOS client in Objective-C.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"><h5>Skills</h5></div>
            <div class="col-md-9">
                <ul>
                    <li>Language: Swift, Objective-C, C++, C#, Go, Java</li>
                    <li>Mobile development: iOS, Cocoa, Cocoapods, Test Flight, Crashlytics</li>
                    <li>Web development: Javascript (AngularJS), PHP (Symfony), HTML, CSS, Google App Engine, Heroku, AWS</li>
                    <li>Databases: MySQL, Microsoft SQL Server</li>
                    <li>Version control: Git, Microsoft Team Foundation Server</li>
                    <li>IDE: Xcode, Android Studio, Microsoft Visual Studio</li>
                    <li>Prototyping: Photoshop, Experience Design, Pixate
               </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Languages</h5></div>
            <div class="col-md-9">
                <p>English: Proficient</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Education</h5></div>
            <div class="col-md-9">
                <p>Formation d’ingénieur logiciel en apprentissage - CFA-AFTI d’Orsay (91) - 2010</p>
                <p>Licence professionnelle en apprentissage Automatisme et Informatique Industrielle, parcours Temps Réel - IUT de Cachan (94) - 2008</p>
                <p>DUT Génie Electrique et Informatique Industrielle spécialité Réseaux Locaux Industriels - IUT de Cergy Pontois (95) - 2007</p>
                <p>Scientific baccalaureate - Lycée privé Saint Michel des Batignolles de Paris (XVIIIème)</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3"><h5>Interests</h5></div>
            <div class="col-md-9">
                <p>Photography: <a href="https://500px.com/remy_jourde" rel="external nofollow">500px</a> et <a href="https://www.flickr.com/photos/remy_jourde" rel="external nofollow">Flickr</a></p>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2016 <a href="/" rel="home">Rémy Jourde</a>
            <br>91370 Verrières-le-Buisson
            <br>SIRET : 822 050 639 00019
            <br><a href="/resume">fr</a> / <a href="/resume_en">en</a>
        </p>
    </footer>
    <script src="/static/application.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83188913-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
